In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
import matplotlib.style as style

In [2]:
video_game_sales_path = "Resources/Video_Games_Sales_as_at_22_Dec_2016.csv"
video_game_sales_df = pd.read_csv(video_game_sales_path)

In [5]:
#Drop all rows that contain a NaN value
video_game_sales_df.dropna()

#Show multiple specific columns 
video_game_sales_df[['Year_of_Release','Genre','Global_Sales','Rating']]

       Year_of_Release         Genre  Global_Sales Rating
0               2006.0        Sports         82.53      E
1               1985.0      Platform         40.24    NaN
2               2008.0        Racing         35.52      E
3               2009.0        Sports         32.77      E
4               1996.0  Role-Playing         31.37    NaN
...                ...           ...           ...    ...
16714           2016.0        Action          0.01    NaN
16715           2006.0        Sports          0.01    NaN
16716           2016.0     Adventure          0.01    NaN
16717           2003.0      Platform          0.01    NaN
16718           2016.0    Simulation          0.01    NaN

[16719 rows x 4 columns]

In [6]:
#Count the Genres that have occured within each year
year_counts = video_game_sales_df["Genre"].value_counts()
year_counts

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64